/* color veriable */
$green: #04a96c;
$white:white;
$navy_light:#1d2a35;
$navy_deep:#15202B;
$navy_light_light:#38444d;
/* dark_mode_color */

/* font name */
$poppins: "poppins";
/* border */
$border: 0px solid red;
